nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px rgb(172, 172, 172, 0.7);
}

.brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  font-size: 2rem;
  margin-right: 1rem;
  background: linear-gradient(blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand > p {
  font-weight: 700;
  text-transform: uppercase;
}

.nav-icon {
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-icon:hover {
  color: rgb(87, 0, 87);
}
